RewriteEngine On
Options -MultiViews
RewriteBase /

# For root and inspect
RewriteRule ^(|inspect)$ inspectlanding.html [L]

# For color
RewriteRule ^color$ colorlanding.html [L]

# For convert
RewriteRule ^convert$ convertlanding.html [L]

# For blog
RewriteRule ^blog$ blog.html [L]

# For privacy
RewriteRule ^privacy$ privacy.html [L]

# For terms
RewriteRule ^terms$ terms.html [L]

# For post
RewriteRule ^post-bestpalettes$ post-bestpalettes.html [L]

# For post
RewriteRule ^post-freecomponents$ post-freecomponents.html [L]

# For post
RewriteRule ^post-htmltotailwind$ post-htmltotailwind.html [L]

# For post
RewriteRule ^post-inspecttailwind$ post-inspecttailwind.html [L]

# For post
RewriteRule ^post-toptricks$ post-toptricks.html [L]